<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Ordering Table example</title>

    <!-- Don't forget to include this-->
    <link rel="stylesheet" type="text/css" href="/static/js_tables/css/style_javascript.css">

</head>

<body>
    <h1>Ordering Table Example</h1>
    <p>Using a (quite complex) javascript code to sort.</p>
    <table id="table" class="display">
        <thead>
        <tr>
            <th onclick="sortTable(0)">Name</th>
            <th onclick="sortTable(1)">Year</th>
            <th onclick="sortTable(2)">Rating</th>
        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
        <tr id="{{ movie.id }}">
            <td>{{ movie.name }}</td>
            <td>{{ movie.year }}</td>
            <td>{{ movie.rating}}</td>
        </tr>
        {% endfor %}
        </tbody>

    <script src="/static/js_tables/js/tables_script_javascript.js"></script>
</body>

</html>